<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">VT Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <% pages.forEach(function(page) { %>
                    <% if(page.slug == "home") { %>
                        <li class="nav-item" ><a class="nav-link" href="/"><%= page.title %></a></li>
                    <% } else { %>
                        <li class="nav-item" ><a class="nav-link" href="<%= page.slug %>"><%= page.title %></a></li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <%- messages('my_message_template', locals) %>
    