body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.pimage {
  width: 150px;
}

a.pa {
  display: inline-block;
  height: 160px;
}

.row.products .p {
  margin-top: 20px;
  margin-bottom: 20px;
}
